.github/
.vscode/**
.vscode-test/**
fixtures/**
test/**
out/test/**
src/**
.gitignore
**/.prettierignore
**/.eslintignore
prettier.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts
**/tsconfig.esm*
node_modules/**/README.md
node_modules/**/CHANGELOG.md
